@use "sass:map";
@import "../../../style/pages/all";

.container {
  .orders {
    background: #fff;
    border-radius: 8px;

    h2 {
      margin-bottom: 30px;
      color: map.get($theme-color, "normal-text");
    }

    .orders_content {
      .orders_table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;

        th,
        td {
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    .order_footer {
      .order_pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .order_page_number {
          display: flex;
          gap: 5px;
          margin-bottom: 30px;
          margin-top: 15px;

          .order_page_btn {
            height: 36px;
            min-width: 36px;
            padding: 0 12px;
            font-size: 14px;
            color: map.get($theme-color, "normal-text");
            background: map.get($theme-color, "white");
            border: 1px solid #ebebeb;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover:not(.order_page_btn_active) {
              color: map.get($theme-color, "white");
              background: map.get($theme-color, "main");
            }

            &.order_page_btn_active {
              color: map.get($theme-color, "white");
              background: map.get($theme-color, "main");
              border-color: map.get($theme-color, "main");
            }
          }
        }
      }
    }
  }
}
