@use "sass:map";
@use "header";
@import "../../../../style/pages/all";

$bannerImg: "../../../../assets/users/image/banner/banner.jpg";

.header_top {
  background-color: #f5f5f5;
}

.header_top_left {
  ul {
    display: flex;
    align-items: center;
    padding: 10px 0 13px;
    list-style: none;
    column-gap: 20px;

    li {
      font-size: 14px;
      color: map-get($theme-color, "normal-text");
      align-items: center;
      display: flex;
      column-gap: 3px;
    }

    li:first-child {
      position: relative;

      &:after {
        position: absolute;
        right: -10px;
        top: 1px;
        height: 20px;
        background-color: #000000;
        opacity: 0.1;
        content: "";
      }
    }
  }
}

.header_top_right {
  // background-color: #FF0000;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 13px;

  ul {
    display: flex;
    column-gap: 4px;
    list-style: none;
  }

  a {
    font-size: 14px;
    display: inline-block;
    color: map-get($theme-color, "normal-text");
  }

  li:last-child {
    cursor: pointer;
    margin-left: 10px;

    span {
      font-size: 14px;
      margin-left: 2px;
    }
  }
}

.header_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  ul {
    display: flex;
    margin-right: 25px;

    li {
      list-style: none;
      position: relative;
      margin-left: 20px;

      svg {
        font-size: 25px;
        color: map-get($theme-color, "normal-text");
      }

      span {
        color: #f5f5f5;
        background-color: map-get($theme-color, "main");
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        font-weight: 500;
        left: 16px;
        top: -6px;
      }
    }
  }
}

.header_logo {
  padding: 15px 0;
}

.header_menu {
  padding: 24px 0;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      position: relative;

      a {
        text-decoration: none;
        font-size: 14px;
        color: map-get($theme-color, "bold-text");
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3s;
        padding: 5px 0;
        display: block;
      }
    }

    li:hover .header_menu_dropdown {
      opacity: 1;
      visibility: visible;
    }

    .active a {
      color: map-get($theme-color, "main");
    }

    .header_menu_dropdown {
      background-color: #222222;
      display: block;
      position: absolute;
      width: 180px;
      z-index: 9;
      padding: 5px 0;
      transition: all, 0.3s;
      opacity: 0;
      visibility: hidden;

      li {
        a {
          text-transform: capitalize;
          color: #fff;
          font-weight: 400;
          padding: 5px 15px;
          font-size: 13px;
        }

        :hover {
          color: map-get($theme-color, "main");
        }
      }
    }
  }
}

.hero_categories {
  position: relative;

  .hero_categories_all {
    background: map-get($theme-color, "main");
    padding: 15px 25px 15px 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    color: #ffffff;

    svg,
    span {
      font-size: 16px;
      margin-right: 5px;
    }

    svg {
      font-size: 20px;
      font-weight: bold;
    }
  }

  ul {
    position: absolute;
    opacity: 1;
    border: 1px solid #ebebeb;
    width: 100%;
    background: #ffffff;
    transition: all 0.2s;

    li {
      list-style: none;

      a {
        text-decoration: none;
        background-color: transparent;
        font-size: 16px;
        color: map-get($theme-color, "normal-text");
        line-height: 39px;
        display: block;
        padding-left: 40px;
      }

      &:hover {
        background: #f7ffff;

        a {
          color: map-get($theme-color, "main");
        }
      }
    }

    &.hidden {
      opacity: 0;
    }
  }
}

.hero_shearch_container {
  .hero_shearch_form {
    width: 610px;
    height: 50px;
    float: left;
    padding-left: 15px;
    margin-bottom: 30px;

    form {
      display: flex;
      align-items: center;
    }

    input {
      border: none;
      height: 48px;
      font-size: 16px;
      color: #b2b2b2;
      padding-left: 20px;
      border: 1px solid #ebebeb;
      width: 70%;

      :focus {
        outline: none;
        border: none;
      }
    }

    button {
      font-size: 14px;
      color: #ffffff;
      font-weight: 800;
      text-transform: uppercase;
      display: inline-block;
      padding: 14px 30px 16px;
      background: map-get($theme-color, "main");
      border: none;
      height: 100%;
    }
  }

  .hero_shearch_phone {
    display: flex;
    align-items: center;

    .hero_shearch_phone_icon {
      font-size: 25px;
      padding: 10px;
      background: #f5f5f5;
      color: map-get($theme-color, "main");
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      float: left;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hero_shearch_phone_text {
      display: inline-block;

      p {
        color: map-get($theme-color, "normal-text");
        font-weight: bold;
        margin-bottom: 5px;
      }

      span {
        color: #6f6f6f;
        font-size: 14px;
      }
    }
  }

  .hero_item {
    background-image: url($bannerImg);
    background-size: cover;
    height: 410px;
    display: flex;
    align-items: center;
    width: 98%;
    margin-left: 15px;

    .hero_text {
      padding-left: 75px;

      span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 4px;
        color: map-get($theme-color, "main");
      }

      h2 {
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 52px;
        color: map-get($theme-color, "bold-text");
        margin: 10px 0;
      }

      p {
        font-size: 16px;
        color: map-get($theme-color, "gray");
        font-weight: 400;
        line-height: 26px;
        margin: 0 0 15px 0;
      }

      a {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: map-get($theme-color, "white");
        text-transform: uppercase;
        font-weight: 700;
        background: map-get($theme-color, "main");
        letter-spacing: 2px;
        text-decoration: none;
      }
    }
  }
}

.humberger_menu_wrapper,
.humberger_open {
  display: none;
}

@include Responsive($MEDIUM_DEVICE) {
  .hero_shearch_form {
    width: 530px !important;
  }
}

@include Responsive($TABLET_DEVICE) {
  @include header.header-small-device;
  .hero_item {
    width: 100% !important;
    margin-left: 4px !important;
  }
  // .hero_shearch_form {
  //   width: 360px !important;
  // }
}

@include Responsive($WIDE_MOBILE) {
  @include header.header-small-device;

  .hero_shearch {
    display: grid;
  }

  .hero_shearch_form {
    width: 556px !important;
  }

  .hero_shearch_phone {
    margin-bottom: 15px;
  }

  .hero_item {
    margin-left: unset !important;
  }

  // .header_logo{
  //   width: max-content;
  // }
}

@include Responsive($SMALL_DEVICES) {
  .hero_shearch_form {
    width: 320px !important;
    
    button {
      width: 150px;
      height: 50px;
    }
  }
}
