@use "sass:map";
@import "../../../../style/pages/theme";

.header_top{
    background-color: #f5f5f5;
}

.header_top_left{

    ul{
        display: flex;
        align-items: center;
        padding: 10px 0 13px;
        list-style: none;
        column-gap: 20px;
        

        li{
            font-size: 14px;
            color: map-get($theme-color, "normal-text");
            align-items: center;
            display: flex;
            column-gap: 3px;
        }

        li:first-child {
            position: relative;

            &:after{
                position: absolute;
                right: -10px;
                top: 1px;
                height: 20px;
                background-color: #000000;
                opacity: 0.1;
                content: "";
            }
        }
    }
}

.header_top_right{
    // background-color: #FF0000;
    display: flex;
    justify-content: end;
    padding: 10px 0 13px;

    ul{
        display: flex;
        column-gap: 4px;
        list-style: none;
    }

    a{
        font-size: 14px;
        display: inline-block;
        color: map-get($theme-color, "normal-text");
    }

    li:last-child {

        cursor: pointer;
        margin-left: 10px;

        span {
            font-size: 14px;
            margin-left: 2px;
        }
    }

    
}