@use "sass:map";
@import "../../../style/pages/all";

.container_categories_slider {
  max-width: 1200px !important;
  margin-top: 30px !important;

  .categories_slider {
    max-width: 99%;

    .categories_slider_item {
      height: 300px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      border-radius: 10px;
      width: 90%;

      p {
        position: absolute;
        // left: 10%;
        bottom: 10%;
        text-align: center;
        font-size: 18px;
        color: map-get($theme-color, "white");
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 0 10px;
        width: 261px;
        cursor: pointer;

        &:hover {
          background: rgb(237, 237, 237);
          color: map-get($theme-color, "main");
        }
      }
    }

    .react-multi-carousel-item:not(:first-child):not(:last-child) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.featured {
  margin-top: 50px;

  .section-title {
    margin-bottom: 50px;
    text-align: center;

    h2 {
      position: relative;
    }

    h2:after {
      position: absolute;
      left: 0;
      bottom: -15px;
      right: 0;
      height: 4px;
      width: 80px;
      background: map-get($theme-color, "main");
      content: "";
      margin: 0 auto;
    }
  }

  .react-tabs {
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    li {
      list-style: none;
      font-size: 18px;
      display: inline-block;
      margin-right: 25px;
      position: relative;
      cursor: pointer;
      color: map-get($theme-color, "normal-text");
    }
  }

  .featured_item {
    margin-bottom: 70px;

    &:hover {
      .featured_item-pic_hover {
        bottom: -15% !important;
      }
    }

    .featured_item-pic {
      height: 300px;
      position: relative;
      overflow: hidden;
      background-position: center;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 5px;

      .featured_item-pic_hover {
        position: absolute;
        left: 0;
        bottom: -40%;
        width: 100%;
        text-align: center;
        transition: all, 0.5s;

        li {
          list-style: none;
          display: inline-block;
          margin-right: 10px;

          &:hover {
            svg {
              background: #7fad39;
              border-color: #7fad39;
              color: #ffffff;
              transform: rotate(360deg) !important;
            }
          }

          svg {
            padding: 10px;
            height: 40px;
            width: 40px;
            border: 1px solid #ebebeb;
            background: #ffffff;
            color: #565555;
            transition: all, 0.3s;
            border-radius: 50%;
          }
        }
      }
    }

    .featured_item-text {
      text-align: center;

      h6 {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;

        a {
          text-decoration: none;
          color: map-get($theme-color, "normal-text");
        }
      }

      h5 {
        color: map-get($theme-color, "normal-text");
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
      }
    }
  }
}

.banner {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background-size: cover;
  height: 250px;
  align-items: center;
  width: 102%;
  

  
  .banner_pic {
    position: relative;
    padding-left: 7px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    span,
    h5,
    div {
      position: absolute;
      left: 20px;
    }

    span {
      top: 115px;
      font-size: 20px;
      text-transform: capitalize;
      font-weight: 800;
      color: map-get($theme-color, "normal-text");
      margin-right: 58%;
    }

    h5 {
      top: 150px;
      font-size: 12px;
      color: map-get($theme-color, "normal-text");
      font-weight: 800;
      line-height: 26px;
      margin-right: 58%;
    }

    div {
      top: 210px;
      margin-right: 58%;

    }

    a {
      display: inline-block;
      font-size: 14px;
      padding: 10px 28px;
      color: map-get($theme-color, "white");
      text-transform: uppercase;
      font-weight: 800;
      background: map-get($theme-color, "main");
      letter-spacing: 2px;
      text-decoration: none;
      border-radius: 20px;

      svg {
        font-size: 14px;
        justify-content: center;
        align-items: center;
      }
    }

    svg {
      margin-right: 5px;
    }
  }
}
